# 60-alertmanagerconfig.yaml
apiVersion: monitoring.coreos.com/v1alpha1
kind: AlertmanagerConfig
metadata:
  name: mini-repo-amcfg
  namespace: demo-eda
  labels:
    alertmanagerConfig: "true"
spec:
  route:
    receiver: ansible-eda
    group_wait: 10s
    group_interval: 1m
    repeat_interval: 30m
    matchers:
      - name: severity
        matchType: =~
        value: "warning|critical"
  receivers:
  # quítalo si usas TLS válido
  
  - name: ansible-eda
    webhookConfigs:
    - url: "https://aap-aap.apps-crc.testing/eda-event-streams/api/eda/v1/external_event_stream/703efa48-f7b6-4229-95fe-53db03f5b60a/post/"
      sendResolved: true
      httpConfig:
        authorization:
          type: "token"                  # <-- esto produce: Authorization: token <cred>
          credentials:
            name: eda-webhook-secret     # Secret con el valor
            key: auth_token
        tlsConfig:
          insecureSkipVerify: true